:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  // background: var(--bg-body);
  font-family: var(--font-family-main);
  font-weight: 400;
  font-size: 16px;
  // color: var(--color-white);
}

//   a,
//   a:visited,
//   a:focus {
//     color: var(--color-white);
//   }

//   ul {
//     list-style: none;
//   }
