:root {
  // colors
  --color-body-bg: #1e1e1e;
  --color-container-bg: #373e45;
  --color-t-head-bg: #ffffff0a;
  --colot-t-border: #4b5258;

  --color-text-main: #ffffff;
  --color-text-tr30: #ffffff4d;
  --color-text-tr40: #ffffff66;

  // common
  --table-border: 1px solid var(--colot-t-border);

  // fonts
  --font-family-main: 'Inter', Arial, Helvetica, sans-serif;
  --font-family-header: 'InterDisplay', var(--font-family-main);

  // effects
  --transition-duration: 0.3s;
}
